body {
  background-color: $background-color;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  backdrop-filter: blur(8px);
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.audio-player {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  padding-bottom: 15px;
  border: 1px solid #464A4E;
  border-radius: 10px;
  background: $background-color;
  background: $primary-gradient;
  box-shadow: 0 1px 35px 3px rgba(13, 13, 13, 0.5);
}

.audio-player__info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center
}

.audio-player__artist {
  font-size: 24px;
}

.audio-player__song {
  font-size: 16px;
}

.audio-player__controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.wrapper__img {
  overflow: hidden;
  border-radius: 10px 10px 0 0;
}

.audio-player__img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
  transition: border-radius 0.5s ease, transform 0.5s ease;
  // transition: transform 0.5s ease;
}

.audio-player__img.playing {
  //transform: scale(1.2);
  border-radius: 50%;
  transform: rotate(360deg);
}

.audio-player__progress {
  font-size: 14px;
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.progress-container {
  position: relative;
  width: 212px;
  height: 5px;
  background-color: #04040a;
  border-radius: 5px;
  cursor: pointer;
}

.progress {
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 5px;
  background: $progress-color;
  background: $progress-gradient;
  transition: width 0.1s linear;
}


